.img-fluid{
  background-size: cover;
  width: auto;
}
.tagline{

 position: absolute;
 top: 25%;
 left: 20%;
transform: translate(-50%, -50%);
text-align: center;
}
.tag1{
  font-family: 'Josefin Sans', sans-serif;
  color: #003638;

}
.cover-cont{
position: relative;

}
.container-social{
  text-align: center;


}
.bottom{
  background-color: #112031;
}
.container-social a{

  color: #345B63;
}
.container-social a:hover{
    color: #D4ECDD;
}
.bottom-contents{
  text-align: left;
}

.fu{
  color: #345B63;
  font-family: 'Poppins', sans-serif;
font-weight: bold;
}
.p-font-link{
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
}
.bottom-logo{
  text-align: right;

}
hr{
  border-style: dotted none none none;
  width: 80%;
  margin: auto;
  color: #c8c2bc;
  display: block;
  border-width: 1px;
}
.bottom-logo-img{
  margin-right: 10px;
}
